.section{
  padding: 15px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    color: rgb(28, 29, 37);
}

.appear {
    transform: translateX(-100%);
    opacity: 0.1;
  }

.appearActive {
    transform: translateX(0);
    opacity: 1;
    transition: all 500ms ease-in;
  }
